.App {
  text-align: center;
  background-color: #f09d92
}

header {
  background: linear-gradient(#f28abe, #f09d92); /* Fixed linear gradient syntax */
  text-shadow: 2px 1px 5px black;
  width: 100%;
  color: white;
  padding: 20px;
  padding-left: 0%;
  padding-right: 28%;
}

header img {
  max-width: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 0px;
  background-color: white;
  margin: 70px;
  max-width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card h3 {
  font-size: 20px;
  color: black;
}
.card h4 {
  font-size: 14px;
  color: black;
  font-size: 18px;
} /* Added missing curly brace here */

.card img {
  width: 350px;
  height: 250px;
  max-width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  text-shadow: black;
}
